// src/css/quasar.variables.scss

@import './tema.scss';

// Variáveis de cor do Quasar (personalizáveis)
$primary: $verde-musgo;
$secondary: $verde-oliva;
$accent: $marrom-avermelhado;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Com isso, suas classes personalizadas de tema.scss serão aplicáveis globalmente.
